name: TruffleHog Scan Test

on:
 pull_request:
   branches:
     - main

jobs:
 trufflehog:
   runs-on: ubuntu-latest

   steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up trufflehog
      run: |
        docker pull trufflesecurity/trufflehog:latest
      
    - name: Run trufflehog
      id: trufflehog
      run: |
        output=$(docker run --rm -v "$(pwd)":/pwd trufflesecurity/trufflehog:latest github --repo https://github.com/fout4/3361-Curso-4-AppSec
        --since-commit=${{ github.event.pull_request.base.sha }}
        --branch=${{ github.event.pull_request.head.sha }}
        --only-verified
        --fail)
        echo "::set-output name=trufflehog_output::$(echo "$output" | tr -d '\r')"

    - name: Create issue
      run: |
        echo "$trufflehog_output"
        if [[ "$trufflehog_output" == *"Found unverified result"* || "$trufflehog_output" == *"Found verified result"* ]]; then
          info=$(echo "$trufflehog_output" | grep -oP '(?<=Commit: ).*')
          issue_body="Secrets encontradas pelo TruffleHog, com as seguintes informações:\n $info"
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/fout4/3361-Curso-4-AppSec/issues \
            -d "{\"title\":\"TruffleHog found a secret\",\"body\":\"$issue_body\",\"labels\":[\"bug\"]}" \
          exit 1
        fi
      env:
        trufflehog_output: ${{ steps.trufflehog.outputs.trufflehog_output }}    